@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Hairline';
    src: url('../fonts/montserrat/Montserrat-Hairline.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Bk';
    src: url('../fonts/roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Bk';
    src: url('../fonts/roboto/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
html,
body {
    font-family: Montserrat, sans-serif;
    height: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #4c4c4c;
}
.montserrat {
    font-family: Montserrat, sans-serif;
}
.montserrat-black {
    font-family: MontserratBlack, sans-serif;
}
.roboto {
    font-family: Roboto, sans-serif;
}
.roboto-bold {
    font-family: RobotoBold, sans-serif;
}
hr{
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}
a,
a:link,
a:visited,
a:hover,
a:active {
    color: #4C4C4C;
    text-decoration: none;
    outline: 0;
}
.wrapper {
    height: 100%;
}
.img-module{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
@media (min-width: 640px) {
    .navbar-top-header{
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        display: flex;
    }
}
.navbar-top-header{
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom-width: 1px;
    display: flex;
    font-size: 12px;
    line-height: 17px;
    color: rgb(0,0,0);
    font-weight: 700;
}
.navbar-ads{
    line-height: 16px;
    font-size: 10px;
}
.navbar-top-menu{
    padding-top: 20px;
    padding-left: 48px;
    text-align: right;
    margin-right: -15px;
}
.navbar-toggle .icon-bar {
    background-color: #00A2F3!important;
}
#headerNav{
    background-color: transparent;
}
.btn--primary {
    display: inline-block;
    padding: 9px 29px;
    color: #fff;
    border: solid;
    border-radius: 30px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 900;
    outline: 0;
}
.header--navbar {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    -webkit-transition: padding 0.25s ease-in-out, background-color 0.25s ease-in-out, box-shadow 0.25s ease;
            transition: padding 0.25s ease-in-out, background-color 0.25s ease-in-out, box-shadow 0.25s ease;
}
.header--logo {
    height: auto;
    font-size: 22px;
    line-height: 30px;
    font-weight: 900;
}
.header--logo span {
    color: #4C4C4C;
}

.header--navbar .navbar-toggle .icon-bar {
    background-color: #4C4C4C;
}
#banner {
    position: relative;
    height: 60%;
    overflow: hidden;
    z-index: 0;
}
.banner--content {
    padding: 60px 0;
    color : #4C4C4C;
}
.banner--content h2 {
    margin: 0;
    color: #4C4C4C;
    font-size: 29px;
    line-height: 32px;
    font-weight: 900;
}
.banner--content h3 {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}
.banner--content p {
    margin: 20px 0;
}
.banner--content ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.banner--content ul li {
    float: left;
}
.banner--content ul li:before {
    content: "\f05d";
    font-family: "FontAwesome";
    margin-right: 10px;
    color: #00B348;
}
.banner--content tr td:before {
    content: "\f05d";
    font-family: "FontAwesome";
    margin-right: 10px;
    color: #00B348;
}
.line{
    justify-content: center;
    align-items: center;
    height: 64px;
}
.line-deep{
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}
.title {
    position: relative;
    margin-top: 100px;
    overflow: hidden;
    z-index: 0;
}
.title h1{
    margin: 0;
    color: #4C4C4C;
    font-size: 30px;
    line-height: 25px;
}
.title h2{
    margin: 10px;
    color: #4C4C4C;
    font-size: 25px;
    line-height: 25px;
}
#pricing {
    padding: 20px 0;
}
.pricing--item {
    margin-top: 80px;
    padding-bottom: 47px;
    /* background-color: #f8f8f8; */
    border: 1px solid #EEEEEE;
    text-align: center;
    -webkit-transition: box-shadow .25s ease;
            transition: box-shadow .25s ease;
}
.pricing--item:hover {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
}
.pricing--item.raised {
    color: #fff;
    background-color: #008FEE;
    border: 1px solid #008FEE;
    z-index: 1;
}
.pricing--item.raised:before {
    background-color: #008FEE;
    z-index: -1;
}
.pricing--item.raised .pricing--body {
    border:1px solid #008FEE;
}
.pricing--item.raised .pricing--tag hr {
    border: 1px solid #008FEE;
    
}
.pricing--item.raised .pricing--desc{
    background-color: #007FDE;
    padding: 8px!important;
    margin-bottom: -7px!important;
    margin-top: -6px!important;
}
.pricing--item.raised .pricing--details{
    background-color: #fff;
    color: #4C4C4C;
}
.pricing--item.raised .pricing--footer{
    background-color: #fff!important;
    color: #4C4C4C;
    margin-top:-1px;
    margin-bottom:-48px;
    border-bottom: 2px solid #007FDE;
    border-right: 1px solid #007FDE;
    border-left: 1px solid #007FDE;
}
.pricing--item.raised .pricing--footer a{
    margin-top:-1px;
    margin-bottom:48px;
}
.pricing--item.raised .btn--primary {
    color:#fff;
    background-color: #008FEE!important;
}
.pricing--tag {
    margin-bottom: 5px;
}
.pricing--tag hr {
    margin-bottom: 10px;
}
/* .pricing--tag p {
    margin: 0px 0px -17px!important;
} */
.pricing--tag p span {
    vertical-align: top;
    font-size: 20px;
    line-height: 30px;
}
.pricing--tag p strong {
    font-size: 48px;
    line-height: 50px;
}
.pricing--details {
    padding: 20px 35px;
    line-height: 26px;
}
.pricing--details i{
    color:#008FEE!important;
}
.pricing--footer {
    margin-top: 20px;
}
#share {
    position: relative;
    background-color: #F7F7F7;
    z-index: -1;
}
#share .container {
    position: relative;
    vertical-align: middle;
    padding-top: 23px;
    padding-bottom: 12px;
    line-height: 26px;
    color:#303030;
}
#contact {
    position: relative;
    background-color: #00A2F3;
    z-index: -1;
}
#contact .container {
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-between;
    align-items: center;
    /* position: relative;
    vertical-align: middle;
    padding-top: 23px;
    padding-bottom: 12px;
    line-height: 26px;
    color: #303030;
    display: inline-block;
    color: #fff;
    border: solid;
    border-radius: 30px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 900;
    outline: 0; */
}

#contact .col1{
    font-size: 30px;
    line-height: 36px;
    color: #fff;
}
#contact .col2{
    padding-left: 64px;
    padding-right: 64px;
    border-left-width: 1px;
    border-color:#fff!important;
    color:#fff!important;
}
#footer{
    --tw-text-opacity: 1;
    color: rgba(209, 213, 219, var(--tw-text-opacity));
    font-size: 14px;
    line-height: 20px;
    background-color: #303030;
    padding-bottom: 32px;
}
#footer p{
    padding-bottom: 32px;
    font-weight: 700;
    display: block;
}
.col--footer{
    padding-top: 64px;
}
.col--footer .desc{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.col--footer-bottom{
    font-size: 10px;
    line-height: 13px;
    padding-top: 64px;
    font-weight: 400;
    justify-content: space-between; 
}

